:root{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, label, legend, span, p, button, a {
    font-family: $default-font_family;
}

body{
    margin: 0;
    padding: 0;
}