*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, label, legend, span, p, button, a {
    font-family: $default-font_family;
}

a#link-page{
    color: $yellow-color;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin: 40px 0 0 40px;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    z-index: 1;

    &.orange{
        color: $orange-color;
    }

    @media screen and (max-width: 992px){
        text-align: center;
        margin: 20px 0 24px 0;
        position: relative;
    }
}
