@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800;900&display=swap');

// COLORS:
$black-color: #202020;
$blue-color: #1820EF;
$orange-color: #FF4E42;
$yellow-color: #FFC024;
$white-color: #FAFAED;

// FONT-FAMILY:
$default-font_family: "M PLUS Rounded 1c", sans-serif;

@mixin listCardScroll {
    display: grid;
    padding: 0 16px;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    position: relative;
    scroll-behavior: smooth;
    width: 100vw;
    gap: 16px;
    margin-bottom: 24px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }
}