@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800;900&display=swap');

// COLORS:
$black-color: #202020;
$blue-color: #1820EF;
$orange-color: #FF4E42;
$yellow-color: #FFC024;
$white-color: #FAFAED;

// FONT-FAMILY:
$default-font_family: "M PLUS Rounded 1c", sans-serif;

