main#page-home{
    display: flex;
    flex-direction: column;
}

#form-lamen{
    display: flex;
    flex-direction: column;
    margin-top: 115px;
    margin-bottom: 126px;
    align-items: center;

    & fieldset:nth-child(1){
        margin-bottom: 96px;
    }

    & button[type=submit]{
        @include buttonDefault;
        margin-top: 80px;
    }

    @media screen and (max-width: 576px){
        margin-top: 40px;
        margin-bottom: 38px;

        gap: 55px;

        & fieldset:nth-child(1){
            margin-bottom: 0px;
        }

        & button[type=submit]{
            margin-top: 0px;
        }
    
    }   
}