label.card-option{
    background-color: $white-color;
    border-radius: 11px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 316px;

    cursor: pointer;

    & input{
        display: none;
    }

    & span.card-image{
        width: 104px;
        height: 104px;
        display: flex;
        background-size: cover; 
        
        &.card-image_active{
            display: none;
        }
    }

    & h2.card-name{
        font-size: 20px;
        color: $blue-color;
        font-weight: 900;
        text-transform: capitalize;
        margin: 14px 0 10px 0;
    }

    & p.card-subtitle{
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        padding: 0 32px;
        text-align: center;
        text-wrap: wrap;
    }

    & span.card-price{
        font-size: 20px;
        font-weight: 900;
        color: $orange-color;
        margin-top: 36px;
    }

    @media screen and (max-width: 576px){
        width: 288px;

        &  p.card-subtitle{
            padding: 0px;
        }
    }

    &:has(> input:checked){
        background-color: $blue-color;
        transition: all ease-in-out .3s;

        & h2.card-name, p.card-subtitle{
            color: $white-color;
        }

        & span.card-price{
            color: $yellow-color;
        }

        & span.card-image_active{
            display: flex;
        }

        & span.card-image_inactive{
            display: none;
        }
    }
}