header#header-component{
    display: flex;
    background-image: url(assets/images/pattern-vermelha.svg);
    background-position: left;
    background-size: contain;
    height: 768px;
    position: relative;

    & section#container-header{
        display: flex;
        margin: 38px 264px 47px 268px;
        width: 100%;
        align-items: center;
        position: relative;
    }

    @media screen and (max-width: 1200px){
        & section#container-header{
            margin: 38px 164px 47px 168px;
        }
    }

    @media screen and (max-width: 992px){
        padding: 20px 30px 66px 30px;
        flex-direction: column;
        height: auto;

        & section#container-header{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px;
        }
    }
}

article#header-message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 11;

    & p#text-header{
        width: 220px;
        color: $white-color;
        font-weight: 400;
        padding-left: 19px;
    }

    & button{
        @include buttonDefault;
        margin-top: 24px;
        margin-left: 16px;
    }

    & div#group-title{
        display: flex;
        align-items: baseline;

        p#title-custom{
            color: $yellow-color;
            font-size: 48px;
            font-weight: 900;
            writing-mode: vertical-lr;
            text-orientation: upright;
            margin: 0;
            letter-spacing: 10px;
        }

        & h1#title{
            font-size: 160px;
            color: $white-color;
            font-weight: 900;
            margin: 0;
            line-height: 0;
        }
    }

    @media screen and (max-width: 992px){
        position: static;
        left: 0;
        top: 0;

        p#text-header{
            width: 100%;
            padding-left: 0px;
            text-align: center;
        }

        & button{
            display: none;
        }

        & div#group-title{
            flex-direction: column;
            align-items: center;

            & h1#title{
                line-height: 1;
                font-size: 120px;
            }

            & p#title-custom{
                writing-mode: horizontal-tb;
                text-orientation: unset;
            }
        }
    }
}
